**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/.history
**/bin
**/obj
**/node_modules
**/out
**/dist
**/publish
.dockerignore
docker-compose.yml
docker-compose.override.yml
.editorconfig
.slnx
*.pdf
*.docx
*.txt
